.skills{
    padding: 0 3 rem 0 3 rem;
    display: flex;
    height: 60vh;
    margin-bottom: 8 rem;
    margin-top: 9 rem;
    margin-bottom: 13rem;
    padding-top: 3rem;
}

.awesome{
    display: flex;
  flex-direction: column;
  position: relative;
}
.awesome > :nth-child(1) {
    color: var();
    font-size: 2.5rem;
    font-weight: bold;
  }
